@font-face {
  font-family: 'Coda';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Coda-regular/Coda-regular.eot');
  src: url('fonts/Coda-regular/Coda-regular.eot?#iefix') format('embedded-opentype'),
       local('Coda'),
       local('Coda-regular'),
       url('fonts/Coda-regular/Coda-regular.woff2') format('woff2'),
       url('fonts/Coda-regular/Coda-regular.woff') format('woff'),
       url('fonts/Coda-regular/Coda-regular.ttf') format('truetype'),
       url('fonts/Coda-regular/Coda-regular.svg#Coda') format('svg');
}


/* cormorant-regular - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cormorant-v1-latin-regular/cormorant-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cormorant'), local('Cormorant-Regular'),
       url('fonts/cormorant-v1-latin-regular/cormorant-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cormorant-v1-latin-regular/cormorant-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/cormorant-v1-latin-regular/cormorant-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/cormorant-v1-latin-regular/cormorant-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/cormorant-v1-latin-regular/cormorant-v1-latin-regular.svg#Cormorant') format('svg'); /* Legacy iOS */
}

