
html
body{
    margin:0;
    padding:0;
    background:#000000;
}

div.panel{
    position:absolute;
    background:#000000;
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}


div.hidden{
    display: none;
}

div.hoverPanel {	
    position: absolute;
    width: auto;
    padding: 10px;
    font: 10px sans-serif;
    font-weight: 700;
    color: #09F;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #09F;
    border-radius: 8px;
    pointer-events: none;
}

.hoverPanel .info{
    font-weight: normal;
    font-style: italic;
    color:#FFF;
}

a.button {
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin: 0.1em;
    background-color: #5E3293;
    color: #D3E1D3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
a.button:hover {
    background-color: #9671C2;
    color: #ADCDAD; }
a.button.pill {
    border-radius: 5px; }


.menu {
    fill: #09F;
    stroke: none;
}

.menu text{
    font: 10px sans-serif;
    fill: #018
}

.menu:hover {
    fill: #0DF;
}

.menu:hover text{
    fill: #009;
}





.range-axis text {
  font: 10px sans-serif;
  fill: #09F;
}

.range-axis line,
.range-axis circle {
    fill: none;
    stroke-width: 1;
    stroke: #09F;
    stroke-dasharray: 1,4;
}

.range-axis circle:last-of-type{
    fill: none;
    stroke-width: 2;
    stroke: #0DF;
    stroke-dasharray: none;
}

.compass-overlay text{
    font: 10px sans-serif;
    fill: #09F;
}

.grid {
    fill: none;
    stroke-width: 0.4;
    stroke: #09F;
}

.grid text{
    font: 10px sans-serif;
    fill: #09F;
}

.orbit-terrestrial ellipse{
    fill: none;
    stroke: #A37F58;
    stroke-width: 1;
}

.orbit-terrestrial circle{
    fill: #A37F58;
    stroke: #7D5E3C;
    stroke-width: 1;
}

.orbit-gasgiant ellipse{
    fill: none;
    stroke: #CBF5E2;
    stroke-width: 1.5;
}

.orbit-gasgiant circle{
    fill: #CBF5E2;
    stroke: #89F5C4;
    stroke-width: 1;
}

.orbit-asteroids ellipse{
    fill: none;
    stroke: #CBF5E2;
    stroke-width: 3;
    stroke-dasharray: 3,2;
}

.star{
    stroke: none;
}
.star.M{
    fill: #ffbc7c;
}
.star.K{
    fill: #ffddb9;
}
.star.G{
    fill: #fff5eb;
}
.star.F{
    fill: #efefff;
}
.star.A{
    fill: #becfff;
}
.star.D{
    fill: #fff1e0;
}

.star text{
    font: 10px sans-serif;
    fill: #0DF;
}