
html
body{
    margin:0;
    padding:0;
    height: 100%;
    background:#000000;
    font: 10px Coda;
}

div.panel{
    position:absolute;
    background:#000000;
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}


.menu {
    fill: #09F;
    stroke: none;
}

.menu text{
    fill: #018
}

.menu:hover {
    fill: #0DF;
}

.menu:hover text{
    fill: #009;
}


.range-axis text {
  fill: #09F;
}

.range-axis line,
.range-axis circle {
    fill: none;
    stroke-width: 1;
    stroke: #09F;
    stroke-dasharray: 1,4;
}

.range-axis circle:last-of-type{
    fill: none;
    stroke-width: 2;
    stroke: #0DF;
    stroke-dasharray: none;
}

.compass-overlay text{
    fill: #09F;
}

.grid {
    fill: none;
    stroke-width: 0.4;
    stroke: #09F;
}

.grid text{
    fill: #09F;
}

.orbit-terrestrial ellipse{
    fill: none;
    stroke: #A37F58;
    stroke-width: 1;
}

.orbit-terrestrial circle{
    fill: #A37F58;
    stroke: #7D5E3C;
    stroke-width: 1;
}

.orbit-gasgiant ellipse{
    fill: none;
    stroke: #CBF5E2;
    stroke-width: 1.5;
}

.orbit-gasgiant circle{
    fill: #CBF5E2;
    stroke: #89F5C4;
    stroke-width: 1;
}

.orbit-asteroids ellipse{
    fill: none;
    stroke: #CBF5E2;
    stroke-width: 3;
    stroke-dasharray: 3,2;
}

.orbit-selected circle{
    fill: #F00;
    stroke: none;
}

.orbit-selected ellipse{
    fill: none;
    stroke: #F00;
    stroke-width: 4;
}

.star{
    stroke: none;
}
.star ellipse{
    fill: none;
    stroke-width: 1;
}

.star.M{
    fill: #ffbc7c;
}
.star.M ellipse{
    stroke: #ffbc7c;
    fill: none;
}

.star.K{
    fill: #ffddb9;
}
.star.K ellipse{
    stroke: #ffddb9;
    fill: none;
}

.star.G{
    fill: #fff5eb;
}
.star.G ellipse{
    stroke: #fff5eb;
    fill: none;
}

.star.F{
    fill: #efefff;
}
.star.F ellipse{
    stroke: #efefff;
    fill: none;
}

.star.A{
    fill: #becfff;
}
.star.A ellipse{
    stroke: #becfff;
    fill: none;
}

.star.D{
    fill: #fff1e0;
}
.star.D ellipse{
    stroke: #fff1e0;
    fill: none;
}

.star text{
    fill: #0DF;
}