
body{
    background:white;
    font-size:10pt;
}

div.content{
    width:100%;
    margin:0;
    background:transparent;
    page-break-after:always;
}

span.heading{
    font-size: 20pt;
}

span.heading.big{
    font-size: 26pt;
}

span.heading.large{
    font-size: 32pt;
}

